<h1>Connect to a MongoDB Database</h1>

<form [formGroup]="connectForm" (ngSubmit)="connect()">
  <div class="input-field col s6">
    <input type="text" formControlName="host" required>
    <label for="host">Host</label><br><br>
  </div>

  <div class="input-field col s6">
    <input type="number" formControlName="port" required>
    <label for="port">Port</label><br><br>
  </div>

  <div class="input-field col s6">  
    <input type="text" formControlName="username" required>
    <label for="username">Username</label><br><br>
  </div>

  <div class="input-field col s6">
    <input type="password" formControlName="password" required>
    <label for="password">Password</label><br><br>
  </div>

  <div class="input-field col s6">    
    <input type="text" formControlName="authdb" required>
    <label for="authdb">Authentication Database</label><br><br>
  </div>

  <div class="switch">
      <label>
        SRV
        <input type="checkbox" formControlName="srv">
        <span class="lever"></span>  
      </label><br><br>
  </div>

  <button type="submit" class="waves-effect waves-light btn">{{btntext}}</button><br><br>
</form>