<div align="center">
  <h1>
    Connected to {{host}}
  </h1>
  <br><hr>
  <button class="waves-light waves-effect btn-large">View Databases</button>
  &nbsp; &nbsp;
  <button class="waves-light waves-effect btn-large red">
    <i class="material-icons right">exit_to_app</i> Logout
  </button>
  <br><hr>
  <table class="striped">
        <tr>
            <th>Connection Details</th>
            <th></th>
        </tr>
        <tr>
          <th>Status</th>
          <td style="color: #00cc00">Connected</td>
        </tr>
        <tr>
         <th>Host</th>
         <td>{{host}}</td>
        </tr>
        <tr>
          <th>Port</th>
         <td>{{port}}</td>
        </tr>
        <tr>
          <th>Authentication Database</th>
         <td>{{authdb}}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td>{{username}}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{time}}</td>
        </tr>
        <tr>
            <th>Databases</th>
            <td>
              <button class="waves-light waves-effect btn-small">View Databases</button>
            </td>
        </tr>
    </table>
</div>
<br><br>